{% extends "base.html.twig" %}

{% block titre %}Ajouter une nouvelle annonce{% endblock %}

{% block body %}
    <h1 class="text-center">Créer une nouvelle annonce</h1>

    <div class="container">
        <div class="row">
            {% form_theme form 'front/annonce/_images-collection.html.twig' %}
            {{ form_start(form, {'attr': {'class': 'creation-form mx-auto'}}) }}
                <div class="form-group">
                    <label for="title-field">Titre</label>
                    {{ form_errors(form.titre) }}
                    {{ form_widget(form.titre, {'attr': {'id': 'title-field'}}) }}
                </div>

                <div class="form-group">
                    <label for="price-field">Prix</label>
                    {{ form_errors(form.prix) }}
                    {{ form_widget(form.prix, {'attr': {'id': 'price-field'}}) }}
                </div>

                <div class="form-group">
                    <label for="introduction-field">Introduction</label>
                    {{ form_errors(form.introduction) }}
                    {{ form_widget(form.introduction, {'attr': {'id': 'introduction-field'}}) }}
                </div>

                <div class="form-group">
                    <label for="content-field">Contenu</label>
                    {{ form_errors(form.contenu) }}
                    {{ form_widget(form.contenu, {'attr': {'id': 'content-field'}}) }}
                </div>

                <div class="form-group">
                    <label for="image-field">Image de couverture</label>
                    {{ form_errors(form.imageCouverture) }}
                    {{ form_widget(form.imageCouverture, {'attr': {'id': 'image-field'}}) }}
                </div>

                {% block annonce_images_widget %}
                    {{ form_widget(form) }}
                {% endblock %}

                <div class="form-group mx-auto">
                    <button type="submit" class="btn btn-primary">Créer l'annonce</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('images-collection') }}
{% endblock %}