{% extends "base.html.twig" %}

{% block titre %}{{ annonce.titre }}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="flash-notice alert-success">
            {{ message }}
        </div>
    {% endfor %}
    
    <header style="background-image: url('{{ annonce.imageCouverture }}'); background-repeat: no-repeat; background-size: cover; padding: 8rem;">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center annonce-intro">
                    <h1>{{ annonce.titre }}</h1>
                    <p>{{ annonce.introduction }}</p>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-8">
                <div id="carouselExampleIndicators" class="carousel slide wrapper" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in annonce.images %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img class="d-block w-100" src="{{ image.url }}" alt="First slide" data-idimage="{{ loop.index0 }}">
                                <div class="carousel-caption d-none d-md-block">
                                    <p class="h2">{{ image.legende }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <ol class="carousel-indicators">
                        {% for image in annonce.images %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Précédent</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Suivant</span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="my-5">
                    {{ annonce.contenu | raw }}
                </div>
                <div class="d-flex justify-content-around align-items-center">
                    <p class="h2">{{ annonce.prix }} €</p>
                    <a href="{{ path('editer_annonce', {'slug': annonce.slug}) }}" class="btn btn-primary">Editer l'annonce</a>
                    <a href="{{ path('supprimer_annonce', {'slug': annonce.slug}) }}" class="btn btn-danger">Supprimer l'annonce</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}