<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block titre %}Accès Administration{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {{ encore_entry_link_tags('app') }}

</head>

<body>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="container">
                <h1 class="text-center my-5">Accès à la plateforme d'administration !</h1>
                <div class="row justify-content-center">
                    <form method="post" class="bg-light p-5">
                        {% if error %}
                            <div>
                                <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="adresse-email">Email</label>
                            <input name="_username" value="{{ last_username }}" type="email" class="form-control" id="adresse-email" aria-describedby="emailHelp" placeholder="Entrez votre email">
                        </div>
                        <div class="form-group">
                            <label for="mot-de-passe">Mot de passe</label>
                            <input name="_password" type="password" class="form-control" id="mot-de-passe" placeholder="Votre mot de passe">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary w-100 mt-4">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
{#        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
{#            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
{#            crossorigin="anonymous"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('custom') }}
{% block javascripts %}{% endblock %}
</body>
</html>